.section{
	width: 100%;
	overflow: hidden;
	margin-top: 3rem;
}

.section .search{
	width: 100%;
	padding: 0.5rem 0;
}

.section .search .left{
	width: 90%;
	height: 2.5rem;
	position: relative;
	background-color: white;
	margin-left: 5%;
	float: left;
}

.section .search .left input{
	line-height: 2.5rem;
	width: 80%;
}

.oo{
	width: 3rem;
	height: 100%;
	float: left;
}

.oo a{
	display: block;
	width: 100%;
	height: 100%;
}

.oo img{
	width: 1rem;
	position: absolute;
	top: 0.8rem;
	left: 0.7rem;
}


input:-ms-input-placeholder,textarea:-ms-input-placeholder{
    color: #D4D4D4;
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{
    color: #D4D4D4;
}

.section .search .right{
	float: right;
	margin-right: 1rem;
	line-height: 2.5rem;
	
}

.section .search .right span{
	color: #2EB2E4;
}


.big{
	width: 100%;
	overflow: hidden;
	background-color: white;
	margin-top: .5rem;
}

.big .tit{
	width: 100%;
	height: 2.5rem;
}

.big .tit .bor{
	display: inline-block;
	height: 1rem;
	border-left: 1px solid #05A8E1;
	float: left;
	margin-top: 1rem;
	margin-left: 0.5rem;
}

.big .tit .na{
	margin-top: 0.8rem;
	float: left;
	margin-left: 0.5rem;
}

.big .oul{
	width: 95%;
	margin-left: 2.6%;
	overflow: hidden;
}

.big .oul li{
	width: 32.3%;
	float: left;
	height: 5rem;
	position: relative;
	margin-right: 0.3%;
	border: 1px solid #F7F7F7;
	margin-bottom: 0.5rem;
}

.big .oul li a{
	display: block;
	width: 100%;
	height: 100%;
}

.big .oul li img{
	width: 100%;
	height: 100%;
}

.big .oul .mask{
	position: absolute;
	width: 100%;
	height: 1.5rem;
	background-color: rgba(0,0,0,0.6);
	text-align: center;
	line-height: 1.5rem;
	color: whitesmoke;
	right: 0;
	bottom: 0;
}
